.main {
  object-fit:cover;  
  background: url("/assets/background.png") no-repeat center;
  background-size: cover; /* Ensure the background image covers the entire container */
  background-position: center; /* Center the background image */
  position: relative;
}

.main::before {
  content: ''; /* Create a pseudo-element to act as the background color */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Cover the entire container */
  height: 100%; /* Cover the entire container */
  background-color: rgba(0, 2, 18,0.1); /* Change the color and adjust the opacity as needed */
}

nav {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  position: relative;
}

.header-text {
  font-size: 91.1px;
  line-height: 93.32px;
  font-weight: 400;
}

body {
  font-family: "Anton";
  letter-spacing: 1.1px;
}

.nav-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.search {
  font-size: 18px;
  font-family: "DM Sans";
}

.header-content {
  font-size: 14px;
  font-family: "DM Sans";
  font-weight: 400;
  line-height: 21px;
}

.header-button {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  background: #5d5fef;
  padding: 12px 24px;
  width: 236px;
  height: 48px;
  letter-spacing: 1.1px;
  z-index: 1;
}

.main-heading {
  font-size: 32px;
  line-height: 38.4px;
  font-weight: 400;
}

.normal-content {
  font-size: 14px;
  font-family: "DM Sans";
  font-weight: 400;
  line-height: 18px;
}

.main-button {
  background: #5d5fef;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding: 12px 24px;
  width: 119px;
  height: 48px;
  letter-spacing: 1.2px;
}

.podcast-heading {
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
}

.podcast-item-button {
  background: #5d5fef;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding: 12px 24px;
  width: 129px;
  height: 48px;
  letter-spacing: 1.2px;
}

.podcast-item-time {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  font-family: "DM Sans";
  letter-spacing: 0.7px;
  color: rgba(255, 255, 255, 1);

}

.all-posts-button {
  background: rgba(93, 95, 239, 0.2);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding: 12px 24px;
  width: 191px;
  height: 48px;
  letter-spacing: 1.2px;
}

.blog-section {
  padding: 100px 0px;
}

.blog-card {
  width: 350px;
  height: 177px;
  padding: 24px;
  background: rgba(26, 27, 42, 1);
}

.blog-content {
  font-size: 20px;
  font-weight: 400;
  line-height: 30.11px;
  letter-spacing: 0.4px;
}

.blog-page-content {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.4px;
  font-family: "DM Sans";
}

.blog-time {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  font-family: "DM Sans";
  letter-spacing: 0.7px;
  color: rgba(255, 255, 255, 1);
}

.tag {
  padding: 4px 16px;
  border-radius: 32px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  font-size: 14px;
  line-height: 21px;
  color:rgba(255, 255, 255, 1);
  font-family: "Roboto";
}

.email{
  padding: 8px 16px;
  border-radius: 32px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  font-size: 18px;
  line-height: 27px;
  color:rgba(255, 255, 255, 1);
  font-family: "DM Sans";
}

.mt-27 {
  margin-top: 24px;
}

.podcast-item-heading {
  font-size: 24px;
  line-height: 36.13px;
}

.about-summary {
  font-size: 14px;
  line-height: 21px;
  font-family: "DM Sans";
}

.podcast-story-heading {
  font-size: 32px;
  line-height: 38px;
  font-weight: 400;
}

.share {
  font-size: 16px;
  font-family: "Hanken Grotesk";
  font-weight: 600;
}

.podcast-summary {
  font-size: 14px;
  line-height: 21px;
  font-family: "DM Sans";
  font-weight: 400;
}

@media only screen and (min-width: 1280px) {
  
  .header-text {
    font-size: 186.26px;
    line-height: 187.52px;
    font-weight: 400;
  }

  .header-content {
    font-size: 18px;
    font-family: "DM Sans";
    font-weight: 400;
    line-height: 24px;
  }

  .header-button {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    background: #5d5fef;
    padding: 12px 24px;
    width: 236px;
    height: 48px;
    letter-spacing: 1.1px;
  }

  .main-heading {
    font-size: 48px;
    line-height: 57.6px;
    font-weight: 400;
  }

  .normal-content {
    font-size: 18px;
    font-family: "DM Sans";
    font-weight: 400;
    line-height: 27px;
  }

  .main-button {
    background: #5d5fef;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 12px 24px;
    width: 119px;
    height: 48px;
    letter-spacing: 1.2px;
  }

  .podcast-heading {
    font-weight: 400;
    font-size: 40px;
    line-height: 38px;
  }

  .podcast-item-heading {
    font-size: 32px;
    line-height: 40px;
  }

  .podcast-item-button {
    background: #5d5fef;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 12px 24px;
    width: 129px;
    height: 48px;
    letter-spacing: 1.2px;
  }

  .podcast-item-time {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    font-family: "DM Sans";
    letter-spacing: 0.7px;
  }

  .all-posts-button {
    background: rgba(93, 95, 239, 0.2);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 12px 24px;
    width: 191px;
    height: 48px;
    letter-spacing: 1.2px;
  }

  .blog-section {
    padding: 100px 0px;
  }

  .blog-card {
    height: 177px;
    padding: 24px;
    background: rgba(26, 27, 42, 1);
  }

  .blog-content {
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0.4px;
  }

  .blog-time {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    font-family: "DM Sans";
    letter-spacing: 0.7px;
  }

  .blog-page-content {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.4px;
  }

  .mt-27 {
    margin-top: 27px;
  }

  .about-summary {
    font-size: 18px;
    line-height: 27px;
  }

  .tag {
    padding: 4px 16px;
    border-radius: 32px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    font-size: 14px;
    line-height: 21px;
    color:rgba(255, 255, 255, 1);
    margin-right: 12px;
  }
  
  .podcast-story-heading {
    font-size: 48px;
    line-height: 72px;
    font-weight: 400;
  }

  .mt-20 {
    margin-top: 20px;
  }

  .share {
    font-size: 20px;
    line-height: 26px;
  }

}
