# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Viktor's ramblings
description: >- # this means to ignore newlines until "baseurl:"
  Viktor on entrepreneurship, Dev(Sec)Ops, remote work, and other geeky stuff.
baseurl: "" # the subpath of your site, e.g. /blog
#baseurl: "blog.viktorpetersson.com"
url: "http://blog.viktorpetersson.com" # the base hostname & protocol for your site, e.g. http://example.com
# url: "https://vpetersson.github.io/blog.viktorpetersson.com"
twitter_username: vpetersson
github_username: vpetersson

pagination:
  enabled: true

collections:
  podcast:
    output: true
  tags:
    output: true

permalink: date

sass:
  style: compressed
  sourcemap: never

google_analytics: G-DKGDZ1Y2LL

disqus.shortname: vpeterss
page.comments: true

# Build settings
markdown: kramdown
highlighter: rouge
theme: minima
plugins:
  - jekyll-feed
  - jekyll-sitemap
  - jekyll-redirect-from
  - jekyll-paginate-v2

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
  - bin/
  - Dockerfile
