---
services:
  web:
    build: .
    ports:
     - "4000:4000"
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    command: sh -c "bun run watch:sass & bun run watch:css & bundle exec jekyll serve --host 0.0.0.0 --incremental --future --drafts"
