---
layout: default
title: Viktor's ramblings | Viktor on entrepreneurship, Dev(Sec)Ops, remote work, and other geeky stuff.
---

<div>
  <div class="hero flex flex-col lg:flex-row text-white">
    <div class="lg:w-1/2 pt-[54px] md:pt-[40px] px-6 md:pl-[115px] md:pr-0">
      <div class="text-[91px] xl:text-[186px] leading-[109px] xl:leading-[224px] uppercase text-white">Meet</div>
      <div class="w-full lg:w-[471px] pl-10 lg:pl-[80px]">
        <div class="text-[91px] xl:text-[186px] leading-[109px] xl:leading-[224px] uppercase mb-6 lg:mb-8">Viktor</div>
        <p class="mb-6 lg:mb-8 max-w-xs xl:max-w-md"> With a deep passion for modern, unique, and clean design, I've dedicated myself to crafting</p>
        <div>
          <a class="button" href="/podcast">Nerding Out With Viktor</a>
        </div>
      </div>
    </div>
    <div class="lg:w-1/2 self-end lg:self-auto">
      <img
        src="{{site.data.main.header_image}}"
        alt="Meet Viktor"
        class="md:h-[600px] xl:h-[800px]"
      />
    </div>
  </div>
  <div
    class="flex flex-col lg:flex-row-reverse mx-6 md:mx-[145px] my-[60px] lg:my-[120px] gap-[34px] lg:gap-[80px] xl:gap-[135px]  lg:max-w-[1110px] md:items-center"
  >
    <div class="flex-1">
      <h2 class="text-altPrimaryText">Greetings! I'm Viktor, the creative mind behind brand Screenly.</h2>
      <p class="pt-4 text-altPrimaryText">With a deep passion for modern, unique, and clean design, I've dedicated myself to crafting visual experiences that leave a lasting impact. Collaboration is my cornerstone. let's connect and create a design narrative that resonates uniquely with you.</p>
      <button class="main-button text-white mt-[32px] main-button rounded-full">
        <a href="/about">My Story</a>
      </button>
    </div>
    <div class="w-100 lg:w-[300px] xl:w-[480px]">
      <img
        src="/assets/user.png"
        alt="Viktor Petersson"
        class="object-cover object-center block w-full h-full rounded-md"
      />
    </div>
  </div>
  {% include podcasts.html %}
  {% include posts.html limit=6 %}
</div>
