<header class="p-8 flex justify-between bg-primaryBG border-b border-white-alpha-20">
  <div class="flex gap-10 justify-between items-center">
    <a href="/">
      <img src="/assets/images/site/logo-white.svg" alt="Viktor Petersson logo" />
    </a>
    {% include nav.html %}
  </div>
  <div class="flex gap-2 justify-between items-center">
    <div class="header-search hidden lg:block">
      <form action="/search" method="get">
        <input class="search expandright" id="searchright" type="search" name="query" placeholder="Search">
        <label class="button searchbutton" for="searchright"><span class="mglass">&#9906;</span></label>
      </form>
    </div>

    <div class="hidden lg:block">
      {% include social-links.html %}
    </div>
      {% include nav-mobile.html %}
    </div>
</header>
