<div
  class="lg:flex lg:flex-row-reverse lg:max-h-screen xl:max-h-screen items-center max-h-full justify-items-center my-24 xl:flex xl:flex-row-reverse"
>
  <div class="w-[340px] md:w-1/2 lg:w-[582px] xl:w-[582px] pb-6 m-auto">
    <p class="w-full main-heading">{{site.data.main.heading}}</p>
    <p class="w-full pt-4 normal-content">{{site.data.main.summary}}</p>
    <button class="main-button text-white mt-[32px] main-button rounded-full">
      <a href="/about"> MY STORY</a>
    </button>
  </div>
  <div class="lg:w-1/2 xl:w-1/2 w-full sm:w-11/12 pl-0 sm:pl-0">
    <img
      src="{{site.data.main.image}}"
      alt="Paris"
      class="lg:w-[480px] xl:w-[480px] w-[339.93px] lg:h-[586px] xl:h-[586px] h-[415px] m-auto rounded-md"
    />
  </div>
</div>
