{% assign podcast = include.podcast %}
<div class="w-full flex flex-col md:flex-row gap-4 bg-secondaryBG p-8 rounded-lg">
  <div class="flex flex-1 flex-col gap-6 lg:gap-7">
    <div class="flex flex-col gap-2">
      <div class="text-white text-sm uppercase">
        Season {{ podcast.season }} • Episode {{ podcast.episode }}
        {% if podcast.guests %} • with {% for guest in podcast.guests %}{{ guest }}{% unless forloop.last %}, {% endunless %}{% endfor %}{% endif %}
      </div>
      <h4
        class="text-2xl lg:text-[32px] text-white lg:leading-10 tracking-[0.75px]"
      >
        <a
          href="{{ podcast.url | relative_url }}"
        >
          {{podcast.title}}
        </a>
      </h4>
    </div>
    <p>
      {{podcast.description}}
    </p>
    <div>
      <a
        href="{{ podcast.url | relative_url }}"
        class="text-white rounded-full bg-btnPrimary text-base py-3 px-6 uppercase inline-block"
      >
        Read More
      </a>
    </div>
    <p
      class="text-white hidden lg:flex gap-4 text-xs uppercase font-bold"
    >
      <span>{{ podcast.date | date: "%d %^b • %Y" }}</span>
      {% if podcast.duration %}
        <span>{{ podcast.duration | format_duration }}</span>
      {% endif %}
    </p>
  </div>
</div>