{% assign post = include.post %}
<a
  href="{{ post.url | relative_url }}"
  class="bg-secondaryBG h-[177px] p-6 flex flex-col justify-between w-full xl:w-[350px] rounded-lg text-white"
>
  <h4 class="text-xl leading-[34px] tracking-[0.4px]">{{ post.title | escape | truncate: 180 }}</h4>
  <p class="mt-3">
    {% assign date_format = site.minima.date_format | default: "%b %-d. %Y" %}
    <span class="text-gray-400 text-xs uppercase font-bold">{{ post.date | date: date_format }}</span>
  </p>
</a>