{% assign current_tags = page.tags %}
{% assign related_posts = site.posts | where_exp: "post", "post.tags.size > 0" %}
{% assign related_posts = related_posts | where_exp: "post", "post.tags | intersect: current_tags | size > 0" %}
{% assign related_posts = related_posts | where_exp: "post", "post.url != page.url" %}

{% assign num_related_posts = related_posts.size %}

{% if num_related_posts > 0 %}
  <h3>Related Posts</h3>
  <ul>
    {% for post in related_posts %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
{% endif %}

{% if num_related_posts < 3 %}
  {% assign additional_posts_needed = 3 | minus: num_related_posts %}
  {% assign latest_posts = site.posts | where_exp: "post", "post.url != page.url" | limit: additional_posts_needed %}
  
  {% if latest_posts.size > 0 %}
    <h3>Latest Posts</h3>
    <ul>
      {% for post in latest_posts %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}
{% endif %}
