<div>
  <div class="text-xl font-semibold mb-5">Share:</div>
  <div class="flex gap-5">
    <a class="share-button share-linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}" target="_blank" rel="noopener noreferrer" aria-label="Share on LinkedIn">
      <img src="/assets/images/site/linkedin-share.svg" alt="LinkedIn"/>
    </a>
    <a class="share-button share-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" target="_blank" rel="noopener noreferrer" aria-label="Share on Facebook">
      <img src="/assets/images/site/facebook-share.svg" alt="Facebook"/>
    </a>
    <a class="share-button share-twitter" href="https://twitter.com/share?url={{ site.url }}{{ page.url }}&text={{ page.title }}" target="_blank" rel="noopener noreferrer" aria-label="Share on Twitter">
      <img src="/assets/images/site/x-share.svg" alt="Twitter"/>
    </a>
  </div>
</div>
