{% if include.no_bg != true %}
<div class="bg-secondaryBG py-8">
{% endif %}
  <div class="flex flex-col items-center gap-4">
    <div class="flex flex-wrap justify-center gap-8">
      <div class="flex flex-col items-center gap-2">
        <a href="https://nerdingoutwithviktor.com/" target="_blank" rel="noopener noreferrer" class="text-white flex flex-col items-center gap-2">
          <i class="fas fa-envelope text-2xl"></i>
          <span class="text-sm">Subscribe to Newsletter</span>
        </a>
      </div>
      <div class="flex flex-col items-center gap-2">
        <a href="{{ site.data.main.social.youtube }}" target="_blank" rel="noopener noreferrer" class="text-white flex flex-col items-center gap-2">
          <i class="fab fa-youtube text-2xl"></i>
          <span class="text-sm">Subscribe on YouTube</span>
        </a>
      </div>
      <div class="flex flex-col items-center gap-2">
        <a href="{{ site.data.main.social.spotify }}" target="_blank" rel="noopener noreferrer" class="text-white flex flex-col items-center gap-2">
          <i class="fab fa-spotify text-2xl"></i>
          <span class="text-sm">Subscribe on Spotify</span>
        </a>
      </div>
      <div class="flex flex-col items-center gap-2">
        <a href="{{ site.data.main.social.apple }}" target="_blank" rel="noopener noreferrer" class="text-white flex flex-col items-center gap-2">
          <i class="fab fa-apple text-2xl"></i>
          <span class="text-sm">Subscribe on Apple Podcast</span>
        </a>
      </div>
    </div>
  </div>
{% if include.no_bg != true %}
</div>
{% endif %}