{% if page.youtube %}
  {% assign video_id = page.youtube | extract_youtube_id %}
  {% assign formatted_date = page.date | date: "%Y-%m-%dT%H:%M:%SZ" %}

  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "VideoObject",
    "name": "{{ page.title | escape }}",
    "description": "{{ page.description | escape }}",
    "thumbnailUrl": "https://i.ytimg.com/vi/{{video_id}}/default.jpg",
    "uploadDate": "{{ formatted_date }}",
    "duration": "{{ page.duration | to_iso8601_duration }}",
    "embedUrl": "https://www.youtube.com/embed/{{video_id}}",
    "contentUrl": "{{ page.youtube | escape }}"
  }
  </script>
{% endif %}