---
layout: default
---
{% include home-header.html %}
<div class="home">
  {% include main.html %}
  <div class="bg-gray-900 px-2 py-10">
    <div class="m-auto w-[342px] xl:w-[1110px]">
      <p class="text-white podcast-heading">Latest Podcast</p>

      {% for podcast in site.podcasts limit:3 %}
      <div class="my-8">
        <a
          href="{{ podcast.url | relative_url }}"
          class="w-[342px] lg:w-full xl:w-full xl:flex xl:flex-row my-8"
        >
          <div
            class="xl:w-[445px] xl:h-[284px] w-[342px] h-[288px] lg:w-[445px] lg:h-[284px]"
          >
            <img
              src="{{podcast.image}}"
              style="height: 100%; width: 100%"
              alt="Paris"
              class="rounded-lg"
            />
          </div>
          <div class="lg:w-8/12 xl:w-8/12 xl:pl-4 pl-0 lg:pl-4">
            <p
              class="lg:text-[32px] xl:text-[32px] text-[24px] text-white pt-4 md:pt-4 xl:w-full lg:w-full w-[340px] sm:pt-4 lg:pt-0 xl:pt-0 podcast-item-heading"
            >
              {{podcast.title}}
            </p>
            <p
              class="w-[339px] xl:w-full lg:w-full text-white normal-content mt-27"
            >
              {{podcast.description}}
            </p>

            <button
              class="podcast-item-button text-white mt-27 w-[129px] rounded-full"
            >
              READ MORE
            </button>
            <div
              class="podcast-item-time mt-27 text-white hidden lg:block xl:block"
            >
            {% assign date_format = site.minima.date_format | default: "%b %-d,
            %Y" %}
            {{ podcast.date | date: date_format }}
            </div>
          </div>
        </a>
      </div>
      <hr class="border-[#d3d3d366]" />
      {% endfor %}
      <div class="mt-8 flex justify-center lg:justify-start xl:justify-start">
        <a href="/podcast" class="all-posts-button text-white rounded-full text-center">
          VIEW ALL PODCASTS
        </a>
      </div>
    </div>
  </div>

  <div class="bg-black blog-section">
    <div class="w-[342px] xl:w-[1110px] m-auto">
      <p class="podcast-heading text-white ">Blog Posts</p>
      <div class="grid grid-cols-1 xl:grid-cols-3 lg:grid-cols-3 gap-8 mt-8">
        {% for post in site.posts limit:6 %}
          <a
            href="{{ post.url | relative_url }}"
            class="blog-card w-[340] xl:w-[350px] rounded-lg text-white"
          >
            <p class="blog-content">{{ post.title | escape }}</p>
            <p class="text-gray-400 blog-time pt-3">
              {% assign date_format = site.minima.date_format | default: "%b %-d,
              %Y" %}
              <span class="post-meta">{{ post.date | date: date_format }}</span>
            </p>
          </a>
        {% endfor %}
      </div>
      <div class="mt-8 flex justify-center lg:justify-start xl:justify-start">
        <a href="/blog" class="all-posts-button text-white rounded-full text-center">
          VIEW ALL POSTS
        </a>
      </div>
    </div>
  </div>
</div>
