---
layout: default
---
{% include blog-header.html %}
<div class="bg-secondaryBG blog-post">
  <div class="md:max-w-[665px] mx-6 md:mx-auto py-10 md:py-20">
    <h2 class="mb-6">{{page.title}}</h2>
    <div class="flex mb-6 gap-6 text-xs">
      <span class="uppercase">
        {{ page.date | date: "%d %^b • %Y" }}
      </span>
      <span class="blog-time">
        {{ content | reading_time }}
      </span>
    </div>
    <article class="leading-[26px]">
      {{content}}
    </article>
    <div class="mt-6">
      {% include tags.html %}
    </div>
  </div>
</div>

